:root {
  /* colors */
  --primaty-orange: hsl(26, 100%, 55%);
  --primaty-pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: rgba(0, 0, 0, .5);

  /* font */
  font-size: 16px;
  font-family: 'Kumbh Sans';
}
body{
  margin: 0;
  padding: 0;
}
/* HEADER */
@media (max-width: 960px) {
  .navigation{
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  #slider{
    position: relative;
  }
  #slider-img{
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 3.7/3;
  }
  .button-left{
    position: absolute;
    background-color: rgba(255, 255, 255, .80);
    top: 45%;
    left: 5%;
    width: 35px;
    height: 35px;
    border: 0;
    border-radius: 50%;
    font-weight: 1000;
  }
  .button-right{
    position: absolute;
    background-color: rgba(255, 255, 255, .80);
    top: 45%;
    right: 5%;
    width: 35px;
    height: 35px;
    border: 0;
    border-radius: 50%;
    font-weight: 1000;
  }
  
}
@media (min-width: 960px) {
  .avatr-image {
    display: none;
  }
  
}