@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 1.6rem;
}

h2 {
	font-size: 5.6rem;
	font-weight: 700;
	max-width: 814px;
	margin: 0 auto;
	line-height: 66px;
}

h3 {
	font-size: 2.5rem;
	line-height: 2.8rem;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	font-weight: 300;
	color: #707070;
	margin-bottom: 20px;
}

.header {
	height: 80vh;
	width: 100%;
	background-image: url("https://images.unsplash.com/photo-1669260056243-242b9d408c0f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.header--subpage {
	height: 45vh;
}

.header-content {
	color: white;
	width: 680px;
	position: absolute;
	bottom: 20%;
	left: 270px;
}

.header-content--subpage {
	bottom: 20%;
}

.header-content h1 {
	font-size: 7.8rem;
	margin-bottom: 32px;
	line-height: 9.5rem;
}

.header-content p {
	font-family: "Rubik";
	font-size: 1.7rem;
	line-height: 2.5rem;
}

.header-arrow {
	width: 74px;
	height: 108px;
	background-color: white;
	border-radius: 74px;
	padding: 25px;
	background-image: url("images/arrow.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50%;
	box-shadow: 0px 10px 20px #7070701a;
	position: absolute;
	bottom: 43px;
	right: 140px;
}

.header-arrow svg {
	height: 100%;
}

nav {
	background-color: white;
	padding: 54px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav-logo {
	width: 260px;
}

.nav-list {
	list-style-type: none;
	display: flex;
	gap: 156px;
	font-family: "Red Hat Display", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 2rem;
}

.section-header {
	text-align: center;
	margin-top: 94px;
}

.container {
	display: flex;
	width: 100%;
	margin-top: 87px;
}

.section-features {
	/* height: 920px; */
	background-color: #efefef;
}

.left-side {
	width: 50%;
	height: 100%;
	padding: 154px 140px 88px;
}

.grid {
	max-width: 690px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 45px;
	margin-bottom: 66px;
}

.list-img {
	width: 138px;
	height: 133px;
}

.list-img.users {
	background-image: url("images/users.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50%;
}

.list-img.apps {
	background-image: url("images/apps.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50%;
}

.list-img.design {
	background-image: url("images/design.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50%;
}

.right-side {
	width: 50%;
	/* height: 100%; */
	background-image: url("https://images.unsplash.com/photo-1669220878589-642cbd1837af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
	background-repeat: no-repeat;
	background-size: cover;
}

.arrows {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 40px;
}

.arrow {
	width: 65px;
	height: 65px;
	background-color: rgba(194, 194, 194, 0.7);
	margin-right: 40px;
	border-radius: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.arrow-left {
	color: rgba(194, 194, 194, 0.7);
}

.arrow-left svg {
	fill: #707070;
	width: 30%;
}

.arrow-right svg {
	fill: #ffffff;
	width: 30%;
}

.active {
	background-color: #707070;
}

.section-posts {
	justify-content: center;
	align-items: center;
	column-gap: 54px;
	padding-bottom: 100px;
}

.post-img {
	max-width: 508px;
	width: 100%;
	height: 572px;
	position: relative;
}

.image-container {
	height: 100%;
	background-color: #efefef;
	overflow: hidden;
}

.post-img img {
	max-width: 100%;
	height: auto;
}

.post-desc {
	position: absolute;
	bottom: 0;
	background-color: rgba(252, 252, 252, 0.8);
	padding: 25px 34px;
	line-height: 30px;
	font-size: 2rem;
	box-shadow: 0px 6px 30px #00000029;
}

form {
	margin: 0 auto 75px auto;
	max-width: 1640px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input,
select {
	display: block;
	max-width: 398px;
	width: 100%;
	height: 65px;
	padding: 22px 41px;
	box-shadow: 0px 10px 20px #0000001a;
	border: 2px solid #bcbcbc;
	border-radius: 5px;
}

select {
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 1rem center;
	background-size: 3.2rem;
}

.jobs-list {
	max-width: 1640px;
	width: 100%;
	margin: 0 auto;
	list-style-type: none;
	padding: 0 32px 32px;
	box-shadow: 0px 1px 25px #0000001a;
}

.job-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 46px;
	border-bottom: 1px solid #c2c2c2;
}

.job-item:last-child {
	margin-bottom: 32px;
}

.job-item a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 700;
	color: #707070;
	line-height: 21px;
	display: flex;
	align-items: center;
}

.job-item a::after {
	content: "";
	display: inline-block;
	width: 21px;
	height: 21px;
	background-image: url("images/arrow-right-alt-rounded.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	margin-left: 5px;
}

.job-title {
	margin-bottom: 20px;
}

.pagination {
	text-align: center;
	margin: 0 66px;
	padding-top: 66px;
}

.pagination a {
	display: inline-block;
	width: 26px;
	height: 26px;
	border-radius: 26px;
	margin: 0 15px;
	text-decoration: none;
	color: #707070;
	font-size: 1.7rem;
	font-family: Rubik;
	line-height: 2.5rem;
}

.pagination a.active {
	color: white;
}

footer .container {
	height: 542px;
	background-color: #707070;
	color: white;
	padding: 117px 0 56px;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.social-icons {
	display: flex;
	gap: 24px;
	margin-top: 50px;
}

.social-icons a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	background-color: white;
	border-radius: 70px;
}

.social-icons a img {
	width: 24px;
	height: 24px;
}

.footer {
	position: absolute;
	bottom: 56px;
	border-top: 1px solid white;
	width: 90%;
	text-align: center;
	padding-top: 43px;
}

/* SUBPAGE-1 STYLE */
.quote {
	display: flex;
	height: 504px;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}

.quote__title {
	font-size: 5.6rem;
	line-height: 6.6rem;
	font-weight: 700;
	text-transform: none;
	letter-spacing: 0px;
	margin-bottom: 80px;
	padding-left: 45px;
}

.quote__paragraph {
	padding-left: 45px;
	border-left: 2px solid #707070;
	width: 483px;
	height: 206px;
	overflow: hidden;
	font-size: 1.8rem;
	line-height: 3rem;
	color: #707070;
}

.quote__heading {
	width: 607px;
	font-size: 7.5rem;
	line-height: 9.5rem;
	margin-left: 150px;
	padding-top: 55px;
}

.circles {
	background-color: #efefef;
	padding: 120px 0 100px 0;
}

.circles__heading {
	width: 100%;
	text-align: center;
	font-weight: 900;
	margin-bottom: 100px;
}

.circles__list {
	list-style-type: none;
	display: grid;
	max-width: 1364px;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	margin: 0 auto;
}

.circle__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.circle__image {
	width: 138px;
	height: 133px;
	background-color: white;
	border: 1px solid #707070;
	border-radius: 50%;
	margin-bottom: 20px;
}

.circle__paragraph {
	width: 240px;
	text-align: center;
	margin-bottom: 45px;
	color: #707070;
	font-size: 1.8rem;
	line-height: 2.8rem;
}

.article__wrapper {
	margin: 0 auto;
	width: 80%;
	padding: 90px 0;
	border-radius: 150px;
	box-shadow: 0px 6px 40px #00000026;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.article__content {
	max-width: 640px;
	width: 100%;
	padding-left: 85px;
}

.article__image {
	width: 480px;
	height: 366px;
	background-color: white;
	justify-self: flex-end;
	overflow-y: scroll;
}

.fake__image {
	width: 366px;
	height: 200vh;
	background-color: #efefef;
}

.article__paragraph {
	margin-top: 40px;
	color: #707070;
	font-size: 1.8rem;
	line-height: 3rem;
	font-weight: 400;
}

::-webkit-scrollbar {
	width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #efefef;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #707070;
	height: 40%;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.article__heading {
	font-size: 4rem;
	font-weight: 900;
	line-height: 6.5rem;
	color: #707070;
}

.article__author {
	font-size: 1.5rem;
	line-height: 4.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #707070;
	padding-left: 62px;
	position: relative;
}

.article__author::before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 2px;
	background-color: #707070;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

/* SUBPAGE-1 STYLE */
.felx-reverse {
	flex-direction: row-reverse;
}

.article__content--padding {
	padding-left: 0;
	padding-bottom: 70px;
}

.tiles {
	max-width: 1364px;
	width: 100%;
	margin: 0 auto;
}

.tiles__cards {
	margin-top: 90px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	box-shadow: 0px 10px 30px #00000033;
}

.tiles__card {
	width: 25%;
	padding: 65px 40px;
	position: relative;
}

.tiles__card--dark {
	background-color: rgba(112, 112, 112, 0.25);
}

.tiles__icon {
	width: 55px;
	height: 55px;
	border: 1px solid #707070;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: white;
}

.tiles__heading {
	font-size: 2.7rem;
	line-height: 3.7rem;
	color: #707070;
	margin: 25px 0 20px;
}

.tiles__paragraph {
	font-size: 1.8rem;
	line-height: 2.5rem;
	color: #707070;
}

.tiles__paragraph--hover {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 65px 35px;
	background-color: rgba(112, 112, 112, 0.25);
}

.button {
	display: flex;
	background-color: #707070;
	width: 25%;
	margin: 100px auto;
	cursor: pointer;
}
.button__text {
	width: 80%;
	color: white;
	padding: 20px 70px;
	font-size: 1.8rem;
	line-height: 2.2rem;
}

.button__arrow {
	width: 20%;
	height: 65px;
	display: flex;
	background-color: #464242;
	justify-content: center;
	align-items: center;
}
