body {
  width: 1920px;
  height: 902px;
}

/* szerokość strony 1920
wysokość 902 */

section {
  margin-top: 119px;
  margin-left: 278px;
  margin-bottom: 118px;
  margin-right: 278px;
}
.page-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font: normal normal 900 56px/66px Poppins;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
table {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-content: center; */
}

img {
  border-radius: 67px;
  height: 138px;
  width: 133px;
}

.tableOfCats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
