/************ VARIABLES ************/
:root {
	--clr-primary-orange: hsl(26, 100%, 55%);
	--clr-primary-pale-orange: hsl(25, 100%, 94%);
	--clr-neutral-blue-vdark: hsl(220, 13%, 13%);
	--clr-neutral-grayish-blue: hsl(220, 14%, 75%);
	--clr-neutral-grayish-blue-dark: hsl(219, 9%, 45%);
	--clr-neutral-grayish-blue-lt: hsl(223, 64%, 98%);
	--clr-neutral-white: hsl(0, 0%, 100%);
	--clr-neutral-black: hsl(0, 0%, 0%);
	--clr-neutral-black-transparent: hsla(0, 0%, 0%, 0.75);
	--fw-regular: 400;
	--fw-bold: 700;
}
/************ VARIABLES ************/

/************ GLOBAL STYLES ************/
html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 62.5%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Kumbh Sans", sans-serif;
	font-size: 1.6rem;
	font-weight: var(--fw-regular);
	width: 80%;
	margin: 0 auto;
}
/************ END GLOBAL STYLES ************/

/************ HEADER STYLES ************/
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--clr-neutral-grayish-blue);
	margin-bottom: 90px;
	padding: 40px 0;
}

.navigation__list {
	display: flex;
	margin-left: 20px;
}

.navigation__link {
	text-decoration: none;
	color: var(--clr-neutral-grayish-blue-dark);
	padding: 20px;
}

.navigation__item {
	list-style: none;
}

.header__aside {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header_avatar {
	width: 50px;
	height: 50px;
	margin-left: 20px;
}

.header__cart {
	padding: 20px;
}

.header__left {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

/************ END HEADER STYLES ************/

/************ MAIN STYLES ************/
.product {
	display: flex;
	width: 90%;
	justify-content: space-between;
	margin: 0 auto;
}
/************ PRODUCT STYLES ************/
.product-photos {
	display: flex;
	flex-direction: column;
	width: 500px;
	gap: 30px;
}
.border-radius {
	border-radius: 15px;
}
.product-photos__additional-photos {
	display: flex;
	justify-content: space-between;
}

.product-photos__small-photo {
	width: 100px;
	height: 100%;
}

.product-photos__container {
	border-radius: 15px;
	overflow: hidden;
	background-color: wheat;
	position: relative;
}

.product-photos__container.active::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	opacity: 0.4;
	width: 100%;
	height: 100%;
}

.active {
	border: 3px solid var(--clr-primary-orange);
}
/************ END PRODUCT STYLES ************/

/************ DESCRIPTION STYLES ************/
.description {
	display: flex;
	flex-direction: column;
	width: 500px;
	padding: 50px;
}
.description__caption {
	color: var(--clr-primary-orange);
	font-family: var(--fw-bold);
}
.description__heading {
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: var(--fw-bold);
	font-size: 4.2rem;
}

.description__text {
	margin-top: 10px;
	margin-bottom: 10px;
	color: var(--clr-neutral-grayish-blue-dark);
}

.pricing {
	display: flex;
	flex-direction: column;
}
.pricing__major {
	font-size: var(--fw-bold);
	font-weight: bold;
}
.price-2 {
	background-color: var(--clr-primary-orange);
	color: var(--clr-primary-pale-orange);
}
.pricing__discount {
	color: var(--clr-neutral-grayish-blue-dark);
	text-decoration: line-through;
	border-radius: 5px;
}

.actions {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}
.actions__buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2rem;
	gap: 4rem;
	background-color: var(--clr-neutral-grayish-blue-lt);
}

.actions__plusminus {
	border: none;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.actions__value {
	font-weight: var(--fw-bold);
}

.actions__addtocart {
	background-color: var(--clr-primary-orange);
	color: var(--clr-neutral-white);
	padding: 2rem;
	border: none;
	width: 100%;
	text-align: center;
	font-weight: var(--fw-bold);
	cursor: pointer;
}

/************ END DESCRIPTION STYLES ************/
/************ END MAIN STYLES ************/
